<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" formControlName="email" class="form-control" placeholder="name@example.com" required>
      <label>Email</label>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>
    <div class="mb-3">
      <a routerLink="/forgot">Forgot you password?</a>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
  <!-- <a href="javascript:void(0)" class="btn btn-outline-danger text-center mt-3 w-100" (click)="googleLogin()">Login with Google</a> -->
  <div class="mb-3">
    <asl-google-signin-button type='standard' text="signin_with" size='large' shape="circle"></asl-google-signin-button>
  </div>
</main>