<form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Enter new password</h1>

  <div class="form-floating">
    <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
    <label>Password</label>
  </div>
  <div class="form-floating">
    <input type="password" formControlName="password_confirm" class="form-control" placeholder="Password confirmation"
      required>
    <label>Password confirmation</label>
  </div>

  <button class="btn btn-primary btn-lg w-100" type="submit">Submit</button>
</form>